@font-face {
    font-family: Poppins;
    src: url("./assets/fonts/Poppins-Regular.ttf");
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Poppins;
    transition: 0.3s ease;
    /* align-items: center; */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  p {
    color: rgb(87, 87, 87);
  }
  
section {
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 1;
  }
  
  .front,
  .mid,
  .back {
    width: 100%;
    height: 100%;
    background-color: #542583;
    position: absolute;
  }
  
  .front {
    clip-path: polygon(0% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
    z-index: 4;
  }
  
  .mid {
      clip-path: polygon(33% 100%, 63% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
      z-index: 4;
      background-color: rgb(0, 0, 0);
  }
  
  .back {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1;
  }

  nav,
  .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-right: 2vh;
  }
  
  nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 7vh;
    transition: 0.3s;
    background-color: black;
    z-index: 4;
  }
  
  li {
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    padding: 8px 10px;
  }
  
  .nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fac106;
    bottom: -9px;
    left: 0;
    transition: ease 0.4s;
  }
  
  .nav-links a:hover {
    color: #fac106;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  #main-brand-container{
    background-color: transparent;
  }

  .brand-container{
    margin-top: 5%;
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 5;
    transition:  0.2s ease;
  }

  .box{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fac106;
    margin: 8px;
    /* transition: width 0.3s ease-in; */
    background-size: cover;
    background-position: center;
    transition:  0.2s ease;
    transition-delay: .3s;
  }

  .brand-icon{
    /* background-image: url("./assets/brand/NIKE.png"); */
  }
  
  .expanded{
    width: 50%;
    height: 100%;
  }

  .box:hover{
    width: 50%;
    height: 100%;
    filter: grayscale(0%);
    
    /* background-image: transparent; */
    /* transition-delay: .5s; */
  }

.brand-container:hover .expanded {
  width: 30%;
  transform: 0.3s ease;
}

.expanded:hover:not(.excluded) {
  width: 50%;
  height: 100%;
}

img {
  height: 60px;
}

.box-content {
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 200px; */
  height: 300px;
  /* object-fit:cover; */
  /* flex-direction: column; */
  /* display: flex;
  align-items: center;  */
}

.box-text{
  font-size: 11px;
  color: rgb(255, 255, 255);
  /* padding:20px; */
  text-align: justify;
  transition:  0.2s ease;
  /* transition-delay: .3s; */
  /* width: 100%; */
  opacity: 0;
  margin: 10%;
}

.box-content{
  flex-basis:100%;
}

.grad{
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0), rgb(0, 0, 0));
  width: 100%;
  height: 100%;
  /* transition-delay: .3s; */
  transition-delay: .3s;
  flex-direction: column;
  display: flex;
  
}

.grad:hover .box-text {
  /* background-image: linear-gradient(180deg,rgba(0, 0, 0, 0), rgb(0, 0, 0)); */
  color: rgb(255, 255, 255);
  transition: 0.2s ease;
  transition-delay: .6s;
  opacity: 1;
}

  .b1{
    /* background-image:url("./assets/kobenike.jpg"); */
  }
  .b2{
    background-image:url("./assets/kobenike1.png");
    filter: grayscale(70%);
    
    /* background-image: url("./assets/brand/NIKE.png"); */
    
  }
  .b3{
    background-image:url("./assets/kobespalding1.png");
    filter: grayscale(70%);
  }
  .b4{
    background-image:url("./assets/kobebodyarmor1.png");
    filter: grayscale(70%);
  }
  .b5{
    /* background-image:url("./assets/kobenike.jpg");   */
  }
  .b6{
    /* background-image:url("./assets/kobenike.jpg");   */
  }
