@media (min-width: 1201px) {
    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 50%;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }

    .card{
        height: 350px;
        width: 250px;
        margin: 20px;
        transition: 0.3s ease-in;
    }

    .img-box,
    .img-box img{
        height: 350px;
        width: 260px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 45px;
        width: 260px;
    }

    .intro h1{
        font-size: 1.3rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-weight: 400;
        font-size: 0.9rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    #nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 50%;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }

    .card{
        height: 300px;
        width: 215px;
        margin: 20px;
        transition: 0.3s ease-in;
    }

    .img-box,
    .img-box img{
        height: 300px;
        width: 225px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 37px;
        width: 225px;
    }

    .intro h1{
        font-size: 1.1rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-size: 0.8rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 50%;
    }

    .profile-box h1{
        font-size: 1.3rem;
    }

    .profile-box h2{
        font-size: 1rem;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }

    .card{
        height: 250px;
        width: 175px;
        margin: 20px;
        transition: 0.3s ease-in;
    }

    .img-box{
        height: 250px;
        width: 175px;
    }

    .img-box img{
        height: 250px;
        width: 175px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 35px;
        width: 175px;
    }

    .intro h1{
        font-size: 1rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-size: 0.7rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }
}   

@media (max-width: 576px) {
    #nav {
        display: none;
        z-index: 5;
    }
    
    #hamburger-nav {
        display: flex;
        height: 40px;
        z-index: 6;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 70%;
    }

    .profile-box h1{
        font-size: 1.2rem;
    }

    .profile-box h2{
        font-size: 0.9rem;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }

    .back img {
        height: 100%;
        width: auto;
    }

    .card{
        height: 250px;
        width: 175px;
        margin: 10px;
        transition: 0.3s ease-in;
    }

    .img-box{
        height: 250px;
        width: 175px;
    }

    .img-box img{
        height: 250px;
        width: 175px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 35px;
        width: 175px;
    }

    .intro h1{
        font-size: 1rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-size: 0.7rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }

}   

@media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      color: #fff;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: #fac106;
    }
  }
