@media (min-width: 1201px) {
    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    .scrolling_text{
        width: 100%;
        z-index: 5;
    }

    .title{
        font-size: 50px;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 50%;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }

    .card{
        height: 350px;
        width: 250px;
        margin: 20px;
        transition: 0.3s ease-in;
    }

    .img-box,
    .img-box img{
        height: 350px;
        width: 260px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 45px;
        width: 260px;
    }

    .intro h1{
        font-size: 1.3rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-weight: 400;
        font-size: 0.9rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }

    /* Contacts */
    .contact-container{
        width: 100%;
        height: 50%;
        align-items: left;
        /* align-self: center; */
        /* padding-left: 15%; */
    }

    .contact-upper{
        /* justify-content: center; */
        width: 100%;
        display: flex;
        /* flex-direction: row; */
    }

    .contact-lower{
        /* justify-content: center; */
        width: 100%;
        display: flex;
        /* flex-direction: row; */
    }

    .contact-content,
    .contact-content img{
        height: 75px;
        width: 75px;
    }

    .contact-text{
        padding-right: 10px;
    }

    .contact-text h1{
        font-size: 1rem;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    #nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    .scrolling_text{
        width: 100%;
        z-index: 5;
    }

    .title{
        font-size: 50px;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 50%;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }

    .card{
        height: 300px;
        width: 215px;
        margin: 20px;
        transition: 0.3s ease-in;
    }

    .img-box,
    .img-box img{
        height: 300px;
        width: 225px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 37px;
        width: 225px;
    }

    .intro h1{
        font-size: 1.1rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-size: 0.8rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }

    /* Contacts */
    .contact-container{
        width: 100%;
        height: 50%;
    }

    .contact-content,
    .contact-content img{
        height: 75px;
        width: 75px;
    }

    .contact-text{
        padding-right: 10px;
    }

    .contact-text h1{
        font-size: 1rem;
    }

}

@media (min-width: 577px) and (max-width: 768px) {
    #nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    .scrolling_text{
        width: 100%;
        z-index: 5;
    }

    .title{
        font-size: 50px;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 50%;
    }

    .profile-box h1{
        font-size: 1.3rem;
    }

    .profile-box h2{
        font-size: 1rem;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }
    
    .back img {
        width: auto;
        height: 100%;
    }

    .card{
        height: 250px;
        width: 175px;
        margin: 20px;
        transition: 0.3s ease-in;
    }

    .img-box{
        height: 250px;
        width: 175px;
    }

    .img-box img{
        height: 250px;
        width: 175px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 35px;
        width: 175px;
    }

    .intro h1{
        font-size: 1rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-size: 0.7rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }

    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }

    /* Contacts */
    .contact-container{
        width: 100%;
        height: 50%;
    }

    .contact-content,
    .contact-content img{
        height: 75px;
        width: 75px;
    }

    .contact-text{
        padding-right: 10px;
    }

    .contact-text h1{
        font-size: 1rem;
    }

    .brand-container{
        flex-direction: row;
    }
    .box{
        flex-direction: row;
    }


}   

@media (min-width: 451px) and (max-width: 576px) {
    #nav {
        display: none;
        z-index: 5;
    }
    
    #hamburger-nav {
        display: flex;
        height: 40px;
        z-index: 6;
    }

    .scrolling_text{
        width: 100%;
        z-index: 5;
    }

    .title{
        font-size: 40px;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 70%;
    }

    .profile-box h1{
        font-size: 1.2rem;
    }

    .profile-box h2{
        font-size: 0.9rem;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }

    .back img {
        height: 100%;
        width: auto;
    }

    .card{
        height: 250px;
        width: 175px;
        margin: 10px;
        transition: 0.3s ease-in;
    }

    .img-box{
        height: 250px;
        width: 175px;
    }

    .img-box img{
        height: 250px;
        width: 175px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 35px;
        width: 175px;
    }

    .intro h1{
        font-size: 1rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-size: 0.7rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }

    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }

    .timeline-content img{
        width: 200px;
        height: auto;
    }

    .timeline-content h3{
        font-size: 1rem;
    }

    .timeline-content p{
        font-size: 0.7rem;
        text-align: justify;
    }

    /* Contacts */
    .contact-container{
        width: 100%;
        height: 50%;
    }

    .dev{
        justify-content: center;
        width: 100%;
    }

    .contact-content,
    .contact-content img{
        height: 75px;
        width: 75px;
    }

    .contact-text{
        width: 60%;
    }

    .contact-text h1{
        font-size: 1rem;
    }
}   
@media (max-width: 450px) {
    #nav {
        display: none;
        z-index: 5;
    }
    
    #hamburger-nav {
        display: flex;
        height: 40px;
        z-index: 6;
    }

    .about-container{
        margin-top: 150px;
    }

    .scrolling_text{
        width: 100%;
        z-index: 5;
    }

    .title{
        font-size: 40px;
    }

    .profile-container {
        margin: 0vh;
    }

    .profile-box{
        width: 70%;
    }

    .profile-box h1{
        font-size: 1.2rem;
    }

    .profile-box h2{
        font-size: 0.9rem;
    }

    .back{
        justify-content: center;
        overflow: hidden;
    }

    .back img {
        height: 100%;
        width: auto;
    }

    .card{
        height: 225px;
        width: 155px;
        margin: 10px;
        transition: 0.3s ease-in;
    }

    .img-box{
        height: 225px;
        width: 155px;
    }

    .img-box img{
        height: 225px;
        width: 155px;
    }

    .card:hover{
        display: visible;
    }

    .intro{
        padding: 2px;
        height: 35px;
        width: 165px;
    }

    .intro h1{
        font-size: 1rem;
        margin: 4px 0px 10px 10px;
    }

    .intro p{
        font-size: 0.6rem;
        margin: 8px;
    }

    .card:hover .intro{
        height: 150px;
    }

    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }

    .timeline-content img{
        padding: 0;
        width: 150px;
        height: auto;
    }

    .timeline-content h3{
        font-size: 1rem;
    }

    .timeline-content p{
        font-size: 0.7rem;
        text-align: justify;
    }

    /* Contacts */
    .contact-container{
        width: 100%;
        height: 50%;
        padding-top: 20vh;
        /* justify-content: center; */
    }

    /* .conntact-upper{
        justify-content: center;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .conntact-lower{
        justify-content: center;
        width: 100%;
        display: flex;
        flex-direction: row;
    } */

    .dev{
        justify-content: center;
        width: 100%;
    }

    .contact-content,
    .contact-content img{
        height: 70px;
        width: 70px;
    }

    .contact-text{
        width: 60%;
    }

    .contact-text h1{
        font-size: 0.9rem;
    }

    .contact-text a{
        font-size: 0.8rem;
    }
}   