body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header h1 {
  letter-spacing: 2px; 
}


.card h2 {
  margin-bottom: 5px; 
}

.card p {
  margin: 0; 
  font-weight: bold;
}

.box {
  width: 70%;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text{
  flex: 1;
  line-height: 1.2;
  
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.card {
  display: flex;
  align-items: center;
  width: 45%;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

.img-container {
  width: 150px;
  height: 150px;
  top: 649px;
  left: 1022px;
  border-radius: 60%; /* Make the image border container circular */
  margin-right: 10px;
}

.text { 
  flex: 1;
}

.info-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info-container i {
  margin-right: 5px;
}

.info-container span {
  margin: 0; 
  font-weight: bold;
}