@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-family: Akira;
  src: url("./assets/fonts/akira.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  z-index: 1;
}

.scrolling_text {
  position: absolute;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  background-color: #29292996;
  z-index: 5;
}

.title {
  font-family: "Akira";
  
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 10px 5px black;
  animation: animate_text 60s linear infinite;
}

.title span {
  margin: 0 20px;
}

@keyframes animate_text {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

/* NAVIGATION STYLES */

nav,
.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-right: 2vh;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 7vh;
  transition: 0.3s;
  background-color: black;
  z-index: 4;
}

li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  padding: 8px 10px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fac106;
  bottom: 11px;
  left: 0;
  transition: ease 0.4s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #727272;
  background-color: #35353554;
  transition: 0.3s ease-in;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

/* HAMBURGER ICON */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #fac106;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 10px;
  padding: 0px 10px;
  border-radius: 10px;
  background: rgba(37, 37, 37, 0.829);
  max-height: 0;
  width: fit-content;
  z-index: 2;
  overflow: hidden;
}

.menu-links a {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  padding: 8px 10px;
}

.menu-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fac106;
  bottom: 50%;
  left: 0;
  transition: ease 0.4s;
}

.menu-links a:hover::after,
.menu-links a.active::after {
  width: 100%;
}

.menu-links a:hover,
.menu-links a.active {
  color: #727272;
  background-color: #35353554;
  transition: 0.3s ease-in;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  transition: 0.3s ease-in;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
  transition: 0.3s ease;
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
  transition: 0.3s ease;
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* PROFILE STYLES */

#profile {
  display: relative;
  align-items: center;
  gap: 5rem;
}

.front,
.mid,
.back {
  width: 100%;
  height: 100%;
  background-color: #542583;
  position: absolute;
}

.front {
  clip-path: polygon(0% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
  z-index: 4;
}

.mid {
  clip-path: polygon(33% 100%, 63% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
  z-index: 4;
  background-color: black;
}

.back {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 2;
}

.back img {
  margin-left: auto;
  width: 65%;
  height: auto;
}

.profile-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-box {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  border: 1px solid #fac106;
  background: url(/assets/pictures/bwkobe.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: rgb(0, 0, 0, 0.3) 12px 12px 3px;
  position: relative;
  z-index: 4;
}

.profile-text {
  width: 100%;
  background-color: rgba(49, 49, 49, 0.6);
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  padding: 4px 8px;
  border-radius: 0px 0px 10px 10px;
}

.profile-text h1 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.profile-text h3{
  padding-right: 20px;
  text-align: right;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.2rem;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(3px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.profile-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  text-align: right;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

/* ABOUT STYLES */

#about {
  justify-content: center;
  gap: 5rem;
}

.about-front,
.about-mid,
.about-back {
  width: 100%;
  height: 100%;
  background-color: #542583;
  position: absolute;
}

.about-front {
  clip-path: polygon(0% 0%, 35% 0%, 5% 100%, 0% 100%, 0% 100%);
  z-index: 4;
}

.about-mid {
  clip-path: polygon(5% 100%, 33% 0%, 35% 0%, 7% 100%, 0% 100%, 0% 100%);
  z-index: 4;
  background-color: rgb(0, 0, 0);
}

.about-back {
  background-color: #000000;
  display: flex;
  justify-content: left;
  overflow: hidden;
  z-index: 2;
}

.about-back img {
  opacity: 0.2;
}

.about-container {
  height: 50%;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;
}

.card {
  height: 500px;
  margin: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px #cc9d04 solid;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.img-box {
  position: relative;
  background-color: #000000;
  width: 350px;
  height: 500px;
}

.img-box img {
  height: 500px;
  width: 350px;
  border-radius: 20px;
  opacity: 0.6;
  transition: 0.5s;
}

.intro {
  height: 50px;
  width: 350px;
  padding: 2px 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  border-radius: 0px 0px 20px 20px;
  background: rgb(255, 255, 255);
  color: #000000;
  transition: 0.5s;
}

.upper{
  height: 30px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  border-radius: 20px 20px 0px 0px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.5s;
}

.upper h3{
  color: #000000;
  font-size: 0.8rem;
}

.card:hover .upper{
  background: rgba(49, 49, 49, 0.6);
}

.card:hover .upper h3{
  color: white;
}

.intro h1 {
  margin: 10px;
  font-size: 1.1rem;
  font-weight: 800;
}

.intro p {
  color: white;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.card:hover {
  cursor: pointer;
}

.card:hover .intro {
  height: 200px;
  bottom: 0px;
  color: white;
  background: rgba(49, 49, 49, 0.6);
}

.card:hover p {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.card:hover img {
  opacity: 1;
  transform: scale(1.1);
}

/* ACHIEVEMENTS STYLES */

#achievements{
  justify-content: center;
  gap: 5rem;
}

.achi-front,
.achi-mid,
.achi-back {
  width: 100%;
  height: 100%;
  background-color: #542583;
  position: absolute;
}

.achi-front {
  clip-path: polygon(0% 0%, 5% 0%, 35% 100%, 0% 100%, 0% 100%);
  z-index: 4;
}

.achi-mid {
  clip-path: polygon(35% 100%, 7% 0%, 5% 0%, 33% 100%, 0% 100%, 0% 100%);
  z-index: 4;
  background-color: rgb(0, 0, 0);
}

.achi-back {
  background-color: #000000;
  display: flex;
  justify-content: left;
  overflow: hidden;
  z-index: 2;
}

.achi-back img {
  opacity: 0.2;
}

/* Highlights */

#highlights{
  justify-content: center;
  gap: 5rem;
}