@font-face {
    font-family: Poppins;
    src: url("./assets/fonts/Poppins-Regular.ttf");
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Poppins;
    transition: 0.3s ease;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  p {
    color: rgb(87, 87, 87);
  }
  
  section {
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    z-index: 1;
  }
  #profile {
    display: relative;
    align-items: center;
    gap: 5rem;
  }
  
  .front,
  .mid,
  .back {
    width: 100%;
    height: 100%;
    background-color: #542583;
    position: absolute;
  }
  
  .front {
    clip-path: polygon(0% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
    z-index: 4;
  }
  
  .mid {
      clip-path: polygon(33% 100%, 63% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
      z-index: 4;
      background-color: rgb(0, 0, 0);
  }
  
  .back {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1;
  }
  
  .brand-container{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    /* padding-left: 20px; */
    transition:  0.2s ease;
    /* width: 1829px; */
  }

  .box{
    
    width: 266px;
    height: 909px;
    background-color: #fac106;
    margin:8px;
    cursor: pointer;
    transition: width 0.3s ease-in;
    background-size: cover;
    background-position: center;
    /* opacity: 0; */
    transition:  0.2s ease-in-out;
    transition-delay: .3s;

  }
  
  .expanded{
    width: 420px;
    height: 909px;
    /* transition: 0.3s ease-in; */
  }

  .box:hover{
    width: 420px;
    height: 909px;
    /* transition-delay: .5s; */
  }

  .brand-container:hover .expanded {
    width: 266px; 
    /* transition-delay: .3s; */
    transform: 0.2s ease-in-out;
  }

  
.expanded:hover:not(.excluded) {
  width: 420px;
  height: 909px;
}

  .b1{
    background-image:url("./assets/kobenike.jpg");
  }
  .b2{
    background-image:url("./assets/kobenike.jpg");
  }
  .b3{
    background-image:url("./assets/kobenike.jpg");  
  }
  .b4{
    background-image:url("./assets/kobenike.jpg"); 
  }
  .b5{
    background-image:url("./assets/kobenike.jpg");  
  }
  .b6{
    background-image:url("./assets/kobenike.jpg");  
  }

  nav,
  .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 20px;
    padding-right: 2vh;
  }
  
  nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 7vh;
    transition: 0.3s;
    background-color: black;
    z-index: 4;
  }
  
  li {
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    padding: 8px 10px;
  }
  
  .nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fac106;
    bottom: -9px;
    left: 0;
    transition: ease 0.4s;
  }
  
  .nav-links a:hover {
    color: #fac106;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  #about{
    display: relative;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }