@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(87, 87, 87);
}

section {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: row;

  z-index: 1;
}
#profile {
  display: relative;
  align-items: center;
  gap: 5rem;
}

.front,
.mid,
.back {
  width: 100%;
  height: 100%;
  background-color: #542583;
  position: absolute;
}

.front {
  clip-path: polygon(0% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
  z-index: 4;
}

.mid {
  clip-path: polygon(33% 100%, 63% 0%, 65% 0%, 35% 100%, 0% 100%, 0% 100%);
  z-index: 4;
  background-color: black;
}

.back {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 2;
}

.back img {
  margin-left: auto;
  width: 37%;
  height: auto;
}

.profile-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 38vh;
  text-align: center;
}

.profile-box {
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #cc9d04, #fac106, #cc9d04);
  box-shadow: rgb(0, 0, 0, 0.3) 12px 12px 3px;
  text-align: center;
  padding: 5vh 8vh;
  position: relative;
  z-index: 4;
}

.profile-box h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.profile-box h2 {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: right;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

nav,
.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 20px;
  padding-right: 2vh;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 7vh;
  transition: 0.3s;
  background-color: black;
  z-index: 4;
}

li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
  padding: 8px 10px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fac106;
  bottom: -9px;
  left: 0;
  transition: ease 0.4s;
}

.nav-links a:hover {
  color: #fac106;
}

.nav-links a:hover::after {
  width: 100%;
}

#about {
  display: relative;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.about-front,
.about-mid,
.about-back {
  width: 100%;
  height: 100%;
  background-color: #542583;
  position: absolute;
}

.about-front {
  clip-path: polygon(0% 0%, 35% 0%, 5% 100%, 0% 100%, 0% 100%);
  z-index: 4;
}

.about-mid {
  clip-path: polygon(5% 100%, 34.8% 0%, 36.8% 0%, 7% 100%, 0% 100%, 0% 100%);
  z-index: 4;
  background-color: rgb(0, 0, 0);
}

.about-back {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 2;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.rook-hover,
.senior-hover,
.retire-hover {
  position: relative;
  width: 45vh;
}

.rook-hover .rookie-box,
.senior-hover .senior-box,
.retire-hover .retire-box {
  text-align: justify;
  background: #cc9d04;
  padding: 60px;
  margin: 30px;
  border-radius: 10px;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.rook-hover:hover .rookie-box {
  background-image: url("assets/kobe3.jpg");
  opacity: 0.5;
}

.senior-hover:hover .senior-box {
  background-image: url("assets/kobe2.jpg");
  opacity: 0.5;
}

.retire-hover:hover .retire-box {
  background-image: url("assets/kobe4.jpg");
  opacity: 0.5;
}

.rookie-box p,
.senior-box p,
.retire-box p {
  color: #000000;
  font-weight: 400;
  text-align: justify;
}

.rookie-box p:hover,
.senior-box p:hover,
.retire-box p:hover {
  transition: opacity 0.3s ease;
  opacity: 0;
}

/* Timeline of Kobe & achievement */
.container {
  width: 100%;
  height: 320%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkviolet;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  /* padding-top: 100%; */
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  right: 0%;

}
.timeline ul li :hover {
  color: aqua;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content:hover
{
background:  url(../KobeBryant_Website-pat/assets/timeline-log/mamba\ logo.jpg);
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;

  text-align: center;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  margin-left: 10px;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}
